@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow-x: hidden;
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}

.black {
    background-color: rgb(0 0 0);
}

.red{
    background-color: rgb(185 28 28);
}

.green {
    background-color: rgb(21 128 61);
}

.pink {
    background-color: rgb(190 24 93);
}

.gray {
    background-color: rgb(55 65 81);
}

.blue {
    background-color: rgb(29 78 216);
}

.yellow {
    /* background-color: rgb(161 98 7); */

    background-color: rgb(234 179 8);
}

.purple {
    background-color: rgb(126 34 206);
}

.indigo {
    background-color: rgb(67 56 202);
}

.zinc {
    background-color: rgb(63 63 70);
}

.orange {
    background-color: rgb(194 65 12);
}

.amber {
    background-color: rgb(180 83 9);
}

.violate {
    background-color: rgb(109 40 217);
}

.white {
    background-color: rgb(255 255 255);
}